.grid {
    display: grid;
    margin:auto;
    width: 2000px;
    height: 1000px;
    gap: 10px;
    grid-template-areas: "nav     nav     nav     nav"
                         "header  header  header  header"
                         "tools"
                         "skills  skills  skills  skills"
                         "project project project project"
                         "contact contact contact contact"
                         "footer  footer  footer  footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.nav-back{
    background-color: #210210;
    grid-column: 1/5;
    grid-row: 1/1;
    margin:0;
    z-index: -1;
}

.navigation a{
    color: white;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 40px;
    text-transform: uppercase;
  }

nav {
    grid-area: nav;
    grid-column: 1/5;
    grid-row: 1/1;
    margin:auto;
}

header {
    grid-area: header;
    grid-column: 2/4;
    grid-row: 2/2;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.pfp{
    grid-area: header;
    grid-column: 1/1;
    grid-row: 2/2;
    
}

.pfp img{
    max-width: 80%;
    border-radius: 20%;
}

.kian_logo{
    grid-area: header;
    margin:auto;
    grid-column: 4/4;
    grid-row:2/2;

}

.kian_logo img{
    max-width: 100%;
}

.skills-back{
    background-color: #210210;
    grid-column: 1/5;
    grid-row: 3/3;
    margin:0;
    z-index: -1;
}

.section-2 {
    grid-column: 1/1;
    grid-row: 3/3;
    color: white;
    margin:auto;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skill-logo {
    grid-column: 1/1;
    grid-row: 4/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.skill-logo p {
    margin-top: 100px;
    margin:auto;
    font-size: 2em;
    font-weight: 300px;
    color:#210210;
}

.skill-logo img {
    max-width: 100%;
    
}

.skill-animate {
    grid-column: 2/2;
    grid-row: 4/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}


.skill-animate p {
    font-size: 2em;
    font-weight: 300px;
    color:#210210
}

.skill-animate img {
    max-width: 50%;
}

.skill-photoshop {
    grid-column: 3/3;
    grid-row: 4/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.skill-photoshop p {
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 0px;
    font-size: 2em;
    font-weight: 300px;
    color:#210210;
}
.skill-photoshop img {
    max-width: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skill-illustrate {
    grid-column: 4/4;
    grid-row: 4/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.skill-illustrate p {
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 0px;
    font-size: 2em;
    font-weight: 300px
    color:#210210;
}
.skill-illustrate img {
    max-width: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
}
